/* Global body styles */
body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: hidden; /* Hide vertical scrollbar */
  transform-origin: center top; /* Ensure scaling origin is centered */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/* Hide audio elements globally */
audio {
  display: none;
}

/* Light theme adjustments */
body.light-theme {
  background-color: #ffffff;
  color: #121212;
}

/* Navbar container styles */
#navbarContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: #1f1f1f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1; /* Ensure navbar is above other content */
}

/* Light theme navbar container */
body.light-theme #navbarContainer {
  background-color: #f1f1f1;
}

/* Navbar title styles */
.navbar-title {
  color: var(--navbar-title-color, #ffffff); /* Default color */
  margin: 0;
  animation: colorChange 0.5s infinite alternate;
  text-align: center;
  flex-grow: 1;
  z-index: 1;
  transition: color 0.3s ease-in-out; /* Smooth transition for color change */
}

/* Light theme navbar title */
body.light-theme .navbar-title {
  --navbar-title-color: #121212; /* Black color in light theme */
}

/* Animation for color change */
@keyframes colorChange {
  0% {
    color: #ffffff;
  }
  100% {
    color: rgb(255, 0, 0);
  }
}

/* Profile picture styles */
.profile-picture {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 3; /* Ensure profile picture is above navbar */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transitions */
  opacity: 0; /* Start with profile picture hidden */
}

/* Profile icon styles */
#profileIcon {
  font-size: 2em;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 3; /* Ensure profile icon is above navbar */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transitions */
  opacity: 1; /* Start with profile icon visible */
}

/* Hover effect */
#profileIcon:hover,
.profile-picture:hover {
  transform: scale(1.1); /* Scale up slightly on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}

/* Container styles */
.container {
  width: 210px;
  text-align: left;
  background-color: #1f1f1f;
  padding: 5px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2; /* Ensure container is above background */
}

/* Light theme container */
body.light-theme .container {
  background-color: #f1f1f1;
}

/* Control styles */
.control {
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Light theme control */
body.light-theme .control {
  color: #121212;
}

/* Status styles */
.status {
  cursor: pointer;
  display: inline-block;
  width: 50px;
  text-align: left;
  margin-left: 5px;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Status colors */
.status.running {
  color: green;
}

.status.stopped {
  color: red;
}

/* Theme label styles */
.theme-label {
  position: absolute;
  left: 6%;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

/* Theme checkbox styles */
.theme-checkbox {
  position: absolute;
  opacity: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* Sun icon styles */
.sun {
  position: fixed;
  font-size: 2em;
  color: #ffffff;
  transition: transform 1s ease, opacity 1s ease;
  transform: rotate(0deg) scale(0);
  opacity: 0;
  transition-delay: 0s;
}

body.light-theme .sun {
  color: #1f1f1f;
}

/* Moon icon styles */
.moon {
  position: fixed;
  font-size: 2em;
  color: #ffffff;
  transition: transform 1s ease, opacity 1s ease;
  transform: rotate(0deg) scale(1);
  opacity: 1;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
  transition-delay: 0.25s;
}

body.light-theme .moon {
  color: #2c3e50;
}

/* Checkbox checked states */
.theme-checkbox:checked ~ .moon {
  transition-delay: 0s;
  transform: rotate(360deg) scale(0);
  opacity: 0;
}

.theme-checkbox:checked ~ .sun {
  transition-delay: 0.25s;
  transform: rotate(360deg) scale(1);
  opacity: 1;
}

/* Full page background color change */
.theme-checkbox:checked ~ body {
  background-color: #f1f1f1;
}

/* Popup styles */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: opacity 0.3s ease;
  opacity: 0;
}

/* Light theme popup */
body.light-theme .popup {
  background-color: #f1f1f1;
}

/* Active popup */
.popup.active {
  display: block;
  opacity: 1;
}

/* Disabled overlay for status elements */
.disabled-overlay {
  pointer-events: none; /* Disable mouse interactions */
}

.status.disabled-overlay:hover {
  cursor: not-allowed; /* Show 'not allowed' cursor on hover */
}

/* Profile picture container styles */
#profilePictureContainer {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  z-index: 3; /* Ensure profile picture and icon are above other content */
}

/* Profile picture and icon styles */
#profileIcon,
.profile-picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.profile-picture.visible {
  opacity: 1; /* Show profile picture when it has the 'visible' class */
}

.hidden {
  opacity: 0; /* Hide elements when they have the 'hidden' class */
}
