/* Global body styles */
body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: hidden; /* Hide vertical scrollbar */
  transform-origin: center top; /* Ensure scaling origin is centered */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  user-select: none; /* Disable text selection */
  -webkit-user-select: none; /* For older versions of Safari */
}

/* Hide audio elements globally */
audio {
  display: none;
}

/* Light theme adjustments */
body.light-theme {
  background-color: #ffffff;
  color: #121212;
}

/* Navbar container styles */
#navbarContainer {
  position: relative;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: #1f1f1f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1; /* Ensure navbar is above other content */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/* Light theme navbar container */
body.light-theme #navbarContainer {
  background-color: #f1f1f1;
}

/* Navbar title styles */
.navbar-title {
  color: var(--navbar-title-color, #ffffff); /* Default color */
  margin: 10;
  text-align: center;
  flex-grow: 1;
  z-index: 1;
}

.navbar-title-text {
  transition: color 0.3s ease-in-out; /* Smooth transition for color change */
  animation: colorChange 0.5s infinite alternate;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Center the text */
  user-select: none; /* Disable text selection */
  -webkit-user-select: none; /* For older versions of Safari */
}

.navbar-title-text:hover {
  cursor: pointer; /* Change cursor to pointer on hover */
}

/* Light theme navbar title */
body.light-theme .navbar-title {
  --navbar-title-color: #121212; /* Black color in light theme */
}

.navbar-title:hover {
  cursor: pointer; /* Change cursor to pointer on hover */
}

/* Animation for color change */
@keyframes colorChange {
  0% {
    color: #ffffff;
  }
  100% {
    color: rgb(255, 0, 0);
  }
}

/* Container styles */
.container {
  width: 210px;
  text-align: left;
  background-color: #1f1f1f;
  padding: 5px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2; /* Ensure container is above background */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions for background and text colors */
}

/* Light theme container */
body.light-theme .container {
  background-color: #f1f1f1;
}

/* Control styles */
.control {
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Light theme control */
body.light-theme .control {
  color: #121212;
}

/* Status styles */
.status {
  cursor: pointer;
  display: inline-block;
  width: 50px;
  text-align: left;
  margin-left: 5px;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Status colors */
.status.running {
  color: green;
}

.status.stopped {
  color: red;
}

/* Theme label styles */
.theme-label {
  position: absolute;
  left: 6%;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

/* Theme checkbox styles */
.theme-checkbox {
  position: absolute;
  opacity: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* Sun icon styles */
.sun {
  position: fixed;
  font-size: 2em;
  color: #ffffff;
  transition: transform 1s ease, opacity 1s ease;
  transform: rotate(0deg) scale(0);
  opacity: 0;
  transition-delay: 0s;
}

body.light-theme .sun {
  color: #1f1f1f;
}

/* Moon icon styles */
.moon {
  position: fixed;
  font-size: 2em;
  color: #ffffff;
  transition: transform 1s ease, opacity 1s ease;
  transform: rotate(0deg) scale(1);
  opacity: 1;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
  transition-delay: 0.25s;
}

body.light-theme .moon {
  color: #2c3e50;
}

/* Checkbox checked states */
.theme-checkbox:checked ~ .moon {
  transition-delay: 0s;
  transform: rotate(360deg) scale(0);
  opacity: 0;
}

.theme-checkbox:checked ~ .sun {
  transition-delay: 0.25s;
  transform: rotate(360deg) scale(1);
  opacity: 1;
}

/* Full page background color change */
.theme-checkbox:checked ~ body {
  background-color: #f1f1f1;
}

/* Active label styles */
.active-label {
  position: absolute;
  right: 13%;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

/* Active checkbox styles */
.active-checkbox {
  position: absolute;
  opacity: 0;
  width: 24px;
  height: 24px;
  pointer-events: none;
  cursor: none;
}

/* Active icon styles */
.active {
  position: fixed;
  font-size: 2em;
  color: #ffffff;
  transition: transform 1s ease, opacity 1s ease;
  transform: rotate(0deg) scale(1);
  opacity: 0;
  transition-delay: 0.25s;
}

body.light-theme .active {
  color: #1f1f1f;
  transition-delay: 0.25s;
}

/* Checkbox checked states */
.active-checkbox:checked ~ .active {
  opacity: 1;
}

/* Updated CSS for overlay effect */
.control.disabled-overlay {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5; /* Adjust opacity as needed */
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
}

.stack h1 {
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  /* font-size: 2.5rem; */
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(0.46, 0.29, 0, 1.24) 1 backwards
      calc(var(--index) * 120ms),
    glitch 2s ease infinite 2s alternate-reverse;
}

.stack h1:nth-child(odd) {
  --glitch-translate: 8px;
}
.stack h1:nth-child(even) {
  --glitch-translate: -8px;
}

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  }
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%,
  100% {
    text-shadow: none;
    transform: none;
  }
}

.navbar-title-text-glitch {
  margin: 0;
  font-size: 3rem;
  padding: 0;
}

.navbar-title-text-glitch:hover {
  cursor: pointer;
}
